@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="~/Scripts/Home.js"></script>
}


<div class="jumbotron">
    <table id="fileUpload" class="table table-bordered" style="margin-top:10px;">
        <thead class="bg-danger text-center text-white">
            <tr>
                <th>File Name</th>
                <th>User Name</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table> 
</div>

